body {
background-color: #31354f;
}



/* ******************************** Welcome Page *********************************** */

.welcome{
  height: 100vh; 
  background-color:black;
  display: flex;
  flex-direction: column;
}
.welcome button{
  position: absolute;
  top: 90vh;
  left: 45%;
  background-color: black;
  box-shadow: 3px 3px 5px #3eff06;
  color: #3eff06;
  border-color: #3eff06;
  padding: 1%;
  border-radius: 22px;
  text-shadow: 2px 2px 2px #08ff06;
  font-size: 5vh;
  
}
.logoWelcome{
  display: flex;
  align-items: center;
  justify-content: center;
}
.citation{
  color: #3eff06;
  text-shadow: 2px 2px 2px #01cc00;
  position: absolute;
  left: 70%;
  top: 20vw;
  font-size: 3vh;
}
.source{
  color: red;
  text-shadow: 2px 2px 2px red;
  position: absolute;
  right: 3vw;
  bottom: 3vh;
  
}
.source a{
  text-decoration: red;
  color: red;
}
* {
  /* width: 100%;
  height: 100%; */
  margin: 0;
}




/* CSS Converter */

.textContainer {
  display: flex;
  justify-content: center;
  width: 80vw; 
  text-align: center;
  margin: auto;
}

.input-text {
  color: white;
  margin-top:50px;

  margin-right: 10px;
  background-color: #12114099;
  border: solid 1px #5050b3;
}


.output-text {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px; 
  background-color: black;
  color: white;
}
.html-editor {
  text-align: left;
  margin-top: 50px; 
  color: white;
  width: 42%;
  height: 463px;
  background: black;
  border: solid 1px white;
  word-wrap: break-word ;
  overflow: auto;
  font-family: "DejaVu Sans Mono";
  font-size: 12px;
}


.textEditors {
  font-size: 25px;
  width: 100%;
  height: 90%;
  background-color: black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/*******************Button debut*************************************/

.aeraButtons{
  display: flex;
  /* width: 94%; */
  /* height: 30vh; */
  box-sizing: border-box;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.button{
  min-width: 10vw;
  padding: .5rem 1rem;
  background: #12114099;
  border: none;
  color: #9d9d8a;

}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*******************Button fin*************************************/
/***************************MainPage Debut**************************************/
.MainPage{
  display: flex;
  flex-wrap: wrap;
}

.AsideBarre{
  width: 15%;
  height: 100%;
}
.textContainer{
  width: 70%;
}
.TittleBarre{
  height: 20%;
  width: 70%;
  background-color: red;
}

.ButtonHome {
  background-color: chartreuse;
}




/***************************MainPage Fin**************************************/


/***************************Tittle debut**************************************/
.tittle{
  width: 100%;
}
.tittle .img{
  width: 100%;
}

/***************************MainPage Fin**************************************/

/***************************MainPage Debut**************************************/
/***************************NavBar Debut**************************************/
.navigation{
  display: flex;
  flex-direction: column;
  border-color : #3eff06 ;
  border: solid #3eff06 ;
  height: 98%;
  box-shadow: 3px 3px 3px #01cc00;
  
}
.navBarPic{
  width: 80%;
}

/***************************NavBar FIN**************************************/

/*MODAL CSS */

modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
}

.modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
    color: wheat ;
}

.modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background-color: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: none;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 8px;
    padding: 6px;
    color: #9d9d8a;
    cursor: pointer;
    background-color: #12114099;
    border: none;
    min-width: 80px;

}
/*CSS MODAL CONTENT */
.modal-syntax {
  display: grid;
  grid-template-columns: 20% 40% 40%;
}

.modal-syntax div, .help-syntax div{
  padding: 10px;
}
.help-syntax {
  display: grid;
  grid-template-columns: 50% 50%;
}

mark {
  background-color: yellow !important;
  color: black;
}
/*****************CSS NAV*******************/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.search-field {
  display: flex;
  flex-direction: row;
}

.search-button {
  height: 7vh;
  width: 4vw;
  cursor: pointer;
  color: white;
}
